<!DOCTYPE html>
<html>
<head>
  <title>Moostachator</title>
  <%= stylesheet_link_tag    "moostachator/application" %>
  <%= javascript_include_tag "moostachator/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
